version: '3'
services:
  search:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.1.2
    container_name: search
    restart: always
    environment:
      - ELASTIC_USERNAME=elastic
      - ELASTIC_PASSWORD=search_password
      - node.name=search
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - indices.id_field_data.enabled=true
      - "ES_JAVA_OPTS=-Xms1024m -Xmx1024m -Dlog4j2.formatMsgNoLookups=true"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - esdata:/usr/share/elasticsearch/data
    ports:
      - 9202:9200
    
volumes:
  esdata:
